<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= erb :'widgets/claims_area' %>
    </div>

  </div>

  <div class="row-fluid">
    <div class="span6">
      <%= erb :'widgets/claims_objects' %>
    </div>

  </div>
</div>

<%= erb :claims_js %>
